<section class="testimonials adjust">
  <div class="title">
    <h2>Reseñas de nuestros servicios</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
  </div>
  <div class="content">
    <div class="testimonialsBox">
      <div class="imgBx">
        <img src="../../../assets/images/1.jpg" alt="user1" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa eveniet
        tempora aut placeat iure aperiam quod qui optio eaque! Deserunt ullam
        corporis ipsa praesentium dolore rerum magnam laudantium nostrum
        aliquam?
      </p>
      <h4>
        Alguien famoso <br />
        <span>Diseñador Web</span>
      </h4>
    </div>
    <div class="testimonialsBox">
      <div class="imgBx">
        <img src="../../../assets/images/2.jpg" alt="user2" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa eveniet
        tempora aut placeat iure aperiam quod qui optio eaque! Deserunt ullam
        corporis ipsa praesentium dolore rerum magnam laudantium nostrum
        aliquam?
      </p>
      <h4>
        Alguien famoso <br />
        <span>Diseñador Web</span>
      </h4>
    </div>
    <div class="testimonialsBox">
      <div class="imgBx">
        <img src="../../../assets/images/3.jpg" alt="user3" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa eveniet
        tempora aut placeat iure aperiam quod qui optio eaque! Deserunt ullam
        corporis ipsa praesentium dolore rerum magnam laudantium nostrum
        aliquam?
      </p>
      <h4>
        Alguien famoso <br />
        <span>Diseñador Web</span>
      </h4>
    </div>
  </div>
</section>
