section {
  justify-content: space-evenly;
  height: max-content;
}

mat-card-title span {
  color: var(--colorPrincipal);
  font-weight: bolder;
  font-size: 1em;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 45dvh;
}

mat-card-action {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

article h3 {
  margin: 0;
  font-weight: bold;
  text-decoration: underline;
}

article address {
  display: flex;
  flex-direction: column;
}

article address label {
  display: flex;
  justify-content: space-between;
}

article address label span {
  width: 50%;
  text-align: right;
}

mat-card-subtitle {
  font-size: 24px;
}

mat-list {
  max-height: 95vh;
  overflow-y: scroll;
}

mat-list-item {
  height: max-content !important;
  margin: 20px 0;
}

/* responsive  */

@media (max-width: 600px) {
  section {
    flex-direction: column;
  }

  mat-card {
    min-width: 80vw;
  }
}
