<section class="banner">
  <div class="imgBx">
    <img
      src="../../../assets/images/LOGOCENTRALNACIONAL.png"
      class="cover"
      alt="logo"
    />
  </div>
  <div class="content">
    <h2>¡HOLA! Somos <br /><span>Central Nacional de Grúas y Niñeras.</span></h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit,
      sequi. Debitis modi id pariatur illum, reprehenderit odit blanditiis et
      nisi ratione eligendi provident natus temporibus nulla quibusdam
      necessitatibus accusamus voluptas.
    </p>
    <a href="index" class="btn">Reservar Servicio</a>
  </div>

  <footer>
    <ul class="sci">
      <li>
        <a href="https//www.facebook.com/"
          ><img src="../assets/images/facebook.png" alt="facebook"
        /></a>
      </li>
      <li>
        <a href="#"><img src="../assets/images/twitter.png" alt="twitter" /></a>
      </li>
      <li>
        <a href="#"
          ><img src="../assets/images/instagram.png" alt="instagram"
        /></a>
      </li>
    </ul>
    <p class="copyrightText">
      Copyright &copy; 2022 {{ "{" }} Code : Pro {{ "}" }} - All rights
      reserved.
    </p>
  </footer>
</section>
