<section class="services adjust">
  <div class="title">
    <h2>Servicios Que Ofrecemos</h2>
    <p>
      Presencia prioritaria en Cali debido a que nuestros servicios se originan
      desde ahí hasta nivel nacional.
    </p>
  </div>
  <div class="content">
    <div class="serviceBox">
      <img src="../../../assets/servicioImg/servicio01.jpeg" alt="servicio01" />
      <h2>Livianos</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit odit
        culpa sed maiores qui, animi vitae, voluptatum possimus debitis.
      </p>
    </div>
    <div class="serviceBox">
      <img src="../../../assets/servicioImg/servicio02.jpeg" alt="servicio02" />
      <h2>medianos</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit odit
        culpa sed maiores qui, animi vitae, voluptatum possimus debitis.
      </p>
    </div>
    <div class="serviceBox">
      <img src="../../../assets/servicioImg/servicio03.jpeg" alt="servicio03" />
      <h2>grandes</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit odit
        culpa sed maiores qui, animi vitae, voluptatum possimus debitis.
      </p>
    </div>
    <div class="serviceBox">
      <img src="../../../assets/servicioImg/servicio04.jpeg" alt="servicio04" />
      <h2>maquinaria</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit odit
        culpa sed maiores qui, animi vitae, voluptatum possimus debitis.
      </p>
    </div>
    <div class="serviceBox">
      <img
        src="../../../assets/servicioImg/servicio05.jpeg"
        alt="servicio05"
        class="small"
      />
      <h2>grúa telescópica</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit odit
        culpa sed maiores qui, animi vitae, voluptatum possimus debitis.
      </p>
    </div>
    <div class="serviceBox">
      <img
        src="../../../assets/servicioImg/servicio06.jpeg"
        alt="servicio06"
        class="small"
      />
      <h2>rescates</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit odit
        culpa sed maiores qui, animi vitae, voluptatum possimus debitis.
      </p>
    </div>
  </div>
</section>
