<section class="services adjust">
  <div class="title">
    <h2>Servicios Que Ofrecemos</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, in
      provident.
    </p>
  </div>
  <div class="content">
    <div class="serviceBox">
      <img src="../../../assets/images/servicio01.jpeg" alt="servicio01" />
      <h2>servicio01</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit odit
        culpa sed maiores qui, animi vitae, voluptatum possimus debitis.
      </p>
    </div>
    <div class="serviceBox">
      <img src="../../../assets/images/servicio02.jpeg" alt="servicio02" />
      <h2>servicio02</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit odit
        culpa sed maiores qui, animi vitae, voluptatum possimus debitis.
      </p>
    </div>
    <div class="serviceBox">
      <img src="../../../assets/images/servicio03.jpeg" alt="servicio03" />
      <h2>servicio03</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit odit
        culpa sed maiores qui, animi vitae, voluptatum possimus debitis.
      </p>
    </div>
    <div class="serviceBox">
      <img src="../../../assets/images/servicio04.jpeg" alt="servicio04"  class="small"/>
      <h2>servicio04</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit odit
        culpa sed maiores qui, animi vitae, voluptatum possimus debitis.
      </p>
    </div>
    <div class="serviceBox">
      <img src="../../../assets/images/servicio05.jpeg" alt="servicio05"  class="small"/>
      <h2>servicio05</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit odit
        culpa sed maiores qui, animi vitae, voluptatum possimus debitis.
      </p>
    </div>
    <div class="serviceBox">
      <img src="../../../assets/images/servicio06.jpeg" alt="servicio06" class="small"/>
      <h2>servicio06</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit odit
        culpa sed maiores qui, animi vitae, voluptatum possimus debitis.
      </p>
    </div>
  </div>
</section>
