<section class="nosotros adjust">
  <div class="title">
    <h2>Averca De Nosotros</h2>
  </div>
  <div class="content">
    <div class="textBox">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo consectetur
        quam exercitationem aliquam optio enim, soluta sequi rerum assumenda
        fugiat magni inventore repudiandae eum voluptate perferendis cum. Sequi
        dignissimos iusto in voluptas enim, nemo eveniet quidem quae
        necessitatibus vero quod placeat natus reiciendis ducimus mollitia hic
        asperiores esse eaque earum ipsa autem nulla optio.<br /><br />
        Aliquid debitis distinctio velit, explicabo placeat labore esse eaque
        fuga voluptas dolores molestias dicta, unde deleniti doloremque. Tempora
        consequuntur nam eos animi unde enim ex, a exercitationem asperiores
        quisquam eaque velit saepe impedit incidunt! Aspernatur eius nostrum
        quod reiciendis quaerat, rerum quas molestiae accusantium labore
        reprehenderit natus?
      </p>
    </div>
    <div class="imgBx">
      <img src="../../../assets/images/LOGOEMPRESA.png" alt="LOGOEMPRESA" />
    </div>
  </div>
</section>
