<section class="nosotros adjust">
  <div class="title">
    <h2>Averca De Nosotros</h2>
  </div>
  <div class="content">
    <div class="textBox">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo consectetur
        quam exercitationem aliquam optio enim, soluta sequi rerum assumenda
        fugiat magni inventore repudiandae eum voluptate perferendis cum. Sequi
        dignissimos iusto in voluptas enim, nemo eveniet quidem quae
        necessitatibus vero quod placeat natus reiciendis ducimus mollitia hic
        asperiores esse eaque earum ipsa autem nulla optio. Aliquid debitis
        distinctio velit, explicabo placeat labore esse eaque fuga voluptas
        dolores molestias dicta, unde deleniti doloremque. Tempora consequuntur
        nam eos animi unde enim ex, a exercitationem asperiores quisquam eaque
        velit saepe impedit incidunt! Aspernatur eius nostrum quod reiciendis
        quaerat, rerum quas molestiae accusantium labore reprehenderit natus?
        <br /><br />
        Culpa, fuga, reiciendis nihil quisquam animi laborum molestiae ipsum
        exercitationem minus similique rerum nesciunt ab ad autem voluptatum
        veritatis sit eos sint aspernatur nisi repudiandae, nobis aut totam
        consequatur. Sed quibusdam deleniti consequatur incidunt provident
        doloribus explicabo dolor labore distinctio mollitia nihil,
        reprehenderit cumque odio assumenda, at reiciendis dolorem!
        Necessitatibus officiis debitis eos id culpa quae consequuntur!
        Voluptate vitae enim unde maxime ratione.
      </p>
    </div>
    <div class="imgBx">
      <img src="../../../assets/images/LOGOCENTRALNACIONAL.png" alt="LOGOCENTRALNACIONAL">
    </div>
  </div>
</section>
