<section class="contact">
  <div class="content">
    <h2>Contáctanos</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur <br />adipisicing elit.
      Perspiciatis similique porro iste!
    </p>
  </div>
  <div class="container">
    <div class="contactInfo">
      <div class="box">
        <div class="icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class="text">
          <h3>Dirección</h3>
          <p>
            Carrera 7L bis # 65a - 15
            <br /><strong>Las Ceibas</strong> <br />760011
          </p>
        </div>
      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
        <div class="text">
          <h3>Teléfono</h3>
          <p>+(57) 318 505 11 07</p>
        </div>
      </div>
      <div class="box">
        <div class="icon">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="text">
          <h3>Email</h3>
          <p>gruasocci@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="contactForm">
      <form name="contactForm" method="POST" data-netlify="true">
        <!-- <input type="hidden" name="form-name" value="contact" /> -->
        <h2>Enviar Mensaje</h2>
        <div class="inputBox">
          <input name="nombreCompleto" type="text" required />
          <span>Nombre Completo</span>
        </div>
        <div class="inputBox">
          <input name="email" type="text" required />
          <span>Email</span>
        </div>
        <div class="inputBox">
          <textarea name="mensaje" required></textarea>
          <span>Escribir mensaje</span>
        </div>
        <div class="inputBox">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</section>
